body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#root {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: wheat;
  background-color: black;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
