body {
  background-color: darkolivegreen;
}

nav {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}
